<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Movies Website</title>
    <style>
        .discover-button {
            display: inline-block;
            padding: 10px 20px; /* Adjust padding as needed */
            background-color: #ffffff;
            color: #000000;
            text-decoration: none;
            border: 2px solid #000000;
            border-radius: 5px; /* Rounded corners */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }
        
        .discover-button:hover {
            background-color: #000000;
            color: #ffffff;
            border-color: #000000;
        }
    </style>
</head>

<body>
    <header>
        <h1 class="header-title">Movie Recommendation</h1>
        <a href="/home" class="discover-button">Home</a>
        <form id="form" method="POST" action="/discover">  <!-- Added method and action attributes -->
            <input type="text" placeholder="Search" id="search" class="search" name="search">  <!-- Added name attribute -->
            <input type="submit" value="Search">  <!-- Added submit button -->
        </form>
    </header>
    {% if search_query is none %}
    <section>
        <h2 class="discover-title">Discover Movies</h2>
        <div class="movie-list-scroller">
            {% for movie in data %}
            <div class="movie-card" onmouseenter="showOverview(event, '{{ movie.overview }}')" onmouseleave="hideOverview(event)">
                <div class="movie-content">
                    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
                    <h3 class="movie-title">{{movie.title}}</h3>
                    <div class="overview">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if search_query %}
    <section id="recommendations">
        <h2 class="discover-title">Recommended Movies</h2>
        <div class="movie-list-scroller" id="recommended-movies">
            {% if search_query %}
                {% for movie in recommended_movies %}
                <div class="movie-card" onmouseenter="showOverview(event, '{{ movie.overview }}')" onmouseleave="hideOverview(event)">
                    <a href="{{ url_for('movie_details', movie_id=movie.movie_id) }}" class="movie-content">
                        <div class="movie-content">
                            {% if movie.poster_path == None %}
                            <img src="{{ url_for('static', filename='luffy.jpg') }}" class="movie-poster">
                            {% else %}
                            <img src="  {{movie.poster_path}}" class="movie-poster">
                            {% endif %}
                            <h3 class="movie-title">{{movie.title}}</h3>
                            <div class="overview">
                                <h4></h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    {% endif %}

</body>
<script>
    // JavaScript code to set the display property based on the search_query value
    document.addEventListener('DOMContentLoaded', function() {
    var recommendationsSection = document.getElementById('recommendations');
    var searchQuery = "{{ search_query }}"; // Add this line to get the search_query value

    recommendationsSection.style.display = searchQuery ? 'block' : 'none';
});
</script>

<script>
    function showOverview(event, overview) {
        var movieCard = event.currentTarget;
        var overviewDiv = movieCard.querySelector('.overview');
        var overviewContent = overviewDiv.querySelector('p');
        var overviewTitle = overviewDiv.querySelector('h4');

        overviewTitle.textContent = 'Overview';
        overviewContent.textContent = overview;
        overviewDiv.style.transform = 'translateY(0)';
        overviewDiv.style.fontSize = '12px'; // Adjust the font size as needed
    }

    function hideOverview(event) {
        var movieCard = event.currentTarget;
        var overviewDiv = movieCard.querySelector('.overview');
        overviewDiv.style.transform = 'translateY(101%)';
    }
</script>

<script>
    function handleMovieClick(movie_id) {
        var movieDetailsUrl = "{{ url_for('movie_details', movie_id=0) }}" + movie_id;
        window.location.href = movieDetailsUrl.replace('0', '');  // Remove the leading 0
    }
</script>
</html>
