<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Movies Website</title>
    <style>
        .discover-button {
            display: inline-block;
            padding: 10px 20px; /* Adjust padding as needed */
            background-color: #ffffff;
            color: #000000;
            text-decoration: none;
            border: 2px solid #000000;
            border-radius: 5px; /* Rounded corners */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        }
        
        .discover-button:hover {
            background-color: #000000;
            color: #ffffff;
            border-color: #000000;
        }
    </style>
</head>

<body>
    <header>
        <h1 class="header-title">Movie Recommendation</h1>
        <a href="/discover" class="discover-button">Discover</a>
 <!-- Added anchor tag for the button -->
        <form id="form" method="POST" action="/home">  <!-- Added method and action attributes -->
            <input type="text" placeholder="Search" id="search" class="search" name="search">  <!-- Added name attribute -->
            <input type="submit" value="Search">  <!-- Added submit button -->
        </form>
    </header>
    {% if search_query is none %}
    <section id = "hey">
        <h2 class="discover-title">Movies for you</h2>
        <div class="movie-list-container">
            {% for movie in data %}
            <div class="movie-card" onmouseenter="showOverview(event, '{{ movie.overview }}')" onmouseleave="hideOverview(event)">
                <a href="{{ url_for('movie_details', movie_id=movie.movie_id) }}" class="movie-content">
                    <div class="movie-content">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
                        <h3 class="movie-title">{{movie.title}}</h3>
                        <div class="overview">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    <section id="recommendations">
        <h2 class="discover-title">Recommended Movies</h2>
        <div class="movie-list-container" id="recommended-movies">
            {% if search_query %}
                {% for movie in recommended_movies %}
                <div class="movie-card" onmouseenter="showOverview(event, '{{ movie.overview }}')" onmouseleave="hideOverview(event)">
                    <a href="{{ url_for('movie_details', movie_id=movie.movie_id) }}" class="movie-content">
                        <div class="movie-content">
                            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
                            <h3 class="movie-title">{{movie.title}}</h3>
                            <div class="overview">
                                <h4></h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    {% if movies %}
    <section>
        <h2 class="discover-title">Fan Favourite</h2>
        <div class="movie-list-container">
            {% for movie in movies %}
            <div class="movie-card" onmouseenter="showOverview(event, '{{ movie.overview }}')" onmouseleave="hideOverview(event)">
                <a href="{{ url_for('movie_details', movie_id=movie.movie_id) }}" class="movie-content">
                    <div class="movie-content">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
                        <h3 class="movie-title">{{movie.title}}</h3>
                        <div class="overview">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let recommendationsSection = document.getElementById('hey');
        recommendationsSection.style.display = 'none'; // Initially hide the recommendations section

        // Fetch recommended movies asynchronously
        fetch('/home') // Endpoint to fetch recommendations
            .then(response => response.json())
            .then(data => {
                // Update the UI with recommended movies
                let recommendedMoviesContainer = document.getElementById('recommended-movies');
                data.forEach(movie => {
                    let movieCard = createMovieCard({{ movie }});
                    recommendedMoviesContainer.appendChild(movieCard);
                });
                recommendationsSection.style.display = 'block'; // Show the recommendations section after data is fetched
            })
            .catch(error => {
                console.error('Error fetching recommended movies:', error);
            });
    });

    // Function to create a movie card
    function createMovieCard(movie) {
        let apiKey = "ff1e18b29203a4007ed0df1907cccf71";
        let base_url = "https://api.themoviedb.org/3/movie/"
        let movieCard = document.createElement('div');
        movieCard.classList.add('movie-card');

        let movieContent = document.createElement('a');
        movieContent.classList.add('movie-content');
        movieContent.href = "{{ url_for('movie_details', movie_id=0) }}" + movie.movie_id;

        let movieDetails = `
            <div class="movie-content">
                <img src="${base_url}${movie_id}?api_key=${api_key}&language=en-US" class="movie-poster">
                <h3 class="movie-title">${movie.title}</h3>
                <div class="overview">
                    <h4>Overview</h4>
                    <p>${movie.overview}</p>
                </div>
            </div>
        `;
        movieContent.innerHTML = movieDetails;

        movieCard.appendChild(movieContent);
        return movieCard;
    }
</script>
<script>
    // JavaScript code to set the display property based on the search_query value
    document.addEventListener('DOMContentLoaded', function() {
        let recommendationsSection = document.getElementById('recommendations');
        recommendationsSection.style.display = '{{ "block" if search_query else "none" }}';
    });
</script>

<script>
    function showOverview(event, overview) {
        let movieCard = event.currentTarget;
        let overviewDiv = movieCard.querySelector('.overview');
        let overviewContent = overviewDiv.querySelector('p');
        let overviewTitle = overviewDiv.querySelector('h4');

        overviewTitle.textContent = 'Overview';
        overviewContent.textContent = overview;
        overviewDiv.style.transform = 'translateY(0)';
        overviewDiv.style.fontSize = '12px'; // Adjust the font size as needed
    }

    function hideOverview(event) {
        let movieCard = event.currentTarget;
        let overviewDiv = movieCard.querySelector('.overview');
        overviewDiv.style.transform = 'translateY(101%)';
    }
</script>

<script>
    function handleMovieClick(movie_id) {
        let movieDetailsUrl = "{{ url_for('movie_details', movie_id=0) }}" + movie_id;
        window.location.href = movieDetailsUrl.replace('0', '');  // Remove the leading 0
    }
</script>
</html>
